# ETL
MINERU_API_KEY= TODO - Your MinerU Api Key
# LLM
OPENROUTER_API_KEY= TODO - Your Openrouter Api Key
# S3 - Supabase
USE_REAL_S3=true
S3_ENDPOINT_URL= TODO - Your supabase storage api key.
S3_BUCKET_NAME= TODO
S3_REGION= TODO
S3_ACCESS_KEY_ID= TODO
S3_SECRET_ACCESS_KEY= TODO
# Supabase
SUPABASE_URL= TODO - PG URL
SUPABASE_KEY= TODO - Api Key
