python-dotenv==1.1.0
PyYAML==6.0.2
python-multipart==0.0.9

# Embedding
openai==1.85.0
transformers==4.52.4
sentence_transformers==4.1.0

# Vector Database
vecs==0.4.5
pymilvus==2.4.9
qdrant_client==1.14.2
weaviate-client==4.9.6
psycopg2-binary==2.9.10
pinecone==7.0.2
chromadb==0.5.11

# Server
boto3==1.38.32
fastapi==0.115.12
axiom-py==0.9.0
hypercorn==0.17.3

# gRPC and protobuf
grpcio==1.73.1
grpcio-tools==1.73.1
protobuf==5.29.2
googleapis-common-protos==1.63.1

# Test
pytest==8.3.3
httpx==0.27.0

