python-dotenv==1.1.0
PyYAML==6.0.2
python-multipart==0.0.20

# Embedding
openai==1.95.1
transformers==4.53.2
sentence-transformers>=3,<4

# Vector Database
vecs==0.4.5
pymilvus==2.5.12
qdrant_client==1.14.3
weaviate-client==4.15.4
psycopg2-binary==2.9.10
pinecone==7.3.0
chromadb==1.0.15

# Server
boto3==1.39.4
fastapi>=0.115,<0.116
axiom_py==0.9.0
hypercorn==0.17.3

# gRPC related packages - keep, but remove non-PyPI plugin
grpcio==1.67.1
grpcio-tools==1.67.1
protobuf==5.29.5
googleapis-common-protos==1.70.0

# Test
pytest==8.4.1
httpx==0.28.1

