firecrawl-py
python-dotenv
duckduckgo_search

# Server and Request
axiom_py
requests
gunicorn
waitress
hypercorn
beautifulsoup4
fastapi[standard]

# Edges
numpy>=2.0.0,<2.1.0
pandas
pillow
torch==2.4.1
torchvision==0.19.1
# Scientific computing packages (Apple Silicon compatible)
numba>=0.59.0,<0.61.0
llvmlite>=0.42.0,<0.44.0
cohere
openai
litellm
instructor
langdetect
scikit-learn
pyyaml # for transformers
transformers
sentence_transformers

# File
fpdf
pydub
boto3
pymupdf
easyocr
pypandoc
openpyxl
markdown2
pymupdf4llm
ffmpeg-python
openai-whisper

# Database
pymongo
sqlalchemy

# Vector Database
vecs
pymilvus
qdrant_client
pinecone[grpc]
weaviate-client
psycopg2-binary

#code
RestrictedPython
