firecrawl-py
python-dotenv
duckduckgo_search

# Server and Request
axiom_py
requests
gunicorn
waitress
hypercorn
beautifulsoup4
fastapi[standard]

# Edges
numpy
pandas
pillow
cohere
openai
litellm
instructor
langdetect
scikit-learn
pyyaml # for transformers
transformers
sentence_transformers

# File
fpdf
pydub
boto3
pymupdf
easyocr
pypandoc
openpyxl
markdown2
pymupdf4llm
ffmpeg-python
openai-whisper

# Database
pymongo
sqlalchemy

# Vector Database
vecs
pymilvus
qdrant_client
pinecone[grpc]
weaviate-client
psycopg2-binary

#code
RestrictedPython
